* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.game {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(94, 5, 5, 0.801)  ;
    height: 100vh;
    gap: 50px;
    justify-content: center;

}

.puzzleField {
    display: grid;
    width: 700px;
}

.message {
    color: #fff;
    margin-top: 16%;
    font-size: 30px;
    text-align: center;
    /* display: none; */
}

.puzzleBox {
    border: 1px solid black;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    aspect-ratio: 1 /1;
    background-color: white;
    box-shadow: 3px 3px black;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 7px;
   
    
}



.emptyBox {
    background-color: black;
    margin: 3px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 7px;

}


@media (max-width : 715px){
    .puzzleField {
        width: 600px;
    }
}

@media (max-width : 600px){
    .puzzleField {
        width: 450px;
    }
}

@media (max-width : 450px){
    .puzzleField {
        width: 350px;
    }
}

@media (max-width : 360px){
    .puzzleField {
        width: 320px;
    }
}








